$primary-black: #000000;
$primary-gray: #3a3a3a;
$primary-light-gray: #d9d9d9;

.participant {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.4rem;
  border-radius: 0.5rem;
  background-color: $primary-gray;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  &:hover {
    cursor: pointer;
    background-color: #666;
  }

  .avatar-label {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;

    .avatar-input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }

    .avatar,
    .avatar-placeholder {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .avatar-placeholder {
      background-color: #063a3c;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;

    .name {
      margin: 0;
      font-size: 1.1rem;
      font-weight: bold;
    }

    .time {
      position: absolute;
      top: 0.1rem;
      right: 0.4rem;
      margin: 0;
      font-size: 0.875rem;
      color: #666;
    }
  }
}
.borderc {
  border: 0.2rem solid grey;
}
