$primary-color: rgb(163, 27, 27);

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  height: 100%;
  position: relative;

  .con1 {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;

    h1 {
      font-size: 80px;
      color: white;
    }
  }

  .con2 {
    flex: 1;
    @extend .center;
    flex-direction: column;
    padding: 20px;
    border-radius: 100% 30% 0% 0%;
    background-color: rgb(8, 8, 8);
    h3 {
      color: white;
      font-size: 2rem;
      margin-bottom: 80px;
      text-decoration: bold;
    }
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  background-color: white;
  gap: 5px;
  border-radius: 50px;
  border: 2px solid grey;
  input {
    border: none;
  }

  p {
    margin-left: 10px;
    font-size: 1.5rem;
  }
}

.wall-content {
  color: whitesmoke;
  height: 100%;
  padding: 5rem;
  flex-wrap: wrap;
  font-size: 1.5rem;
  text-align: center;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 100%;
  div {
    grid-column: 1;
    grid-row: 1;
    @extend .center;
    p {
      transition: 0.5s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.animated-input {
  background-color: transparent;
  color: black;
  padding: 15px 20px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  border: none;
  outline: none;
}

.login-button {
  background-color: rgb(245, 96, 96);
  font-size: 15px;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;

  &:hover {
    background-color: #f72b03;
  }
}
